<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<p id="notice"><%= notice %></p>

<h1>Replies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Body</th>
      <th>Post</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <!-- I found a bug, the buttom didnt work because I have form_with instead of form_for -->
  <%= form_for [ @post, @post.replies.build ] do |form| %>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
  
    <div class="field">
      <%= form.label :body %>
      <%= form.text_area :body %>
    </div>
  
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
  
  <tbody>
    <% @post.replies.each do |reply| %>
      <tr>
        <td><%= reply.name %></td>
        <td><%= reply.body %></td>
        <td><%#= link_to 'Show', reply %></td>
        <td><%#= link_to 'Edit', edit_reply_path(reply) %></td>
        <td><%#= link_to 'Destroy', reply, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Reply', new_reply_path %>
